services:
  - type: web
    name: controle-se
    runtime: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8080
    # Se você usar a opção "Secret Files" do Render para o .env, 
    # o Dockerfile já está configurado para lê-lo.
